@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Tangerine&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);
@import "compass/css3";

/* Variables */
:root {
    --color-1: #261C15;
    --color-2: white;
    --color-3: #1dd3b0;

    /* CSS HEX */
    /* --fiery-rose: #f45b69ff;
    --light-goldenrod-yellow: #f7ffd6ff;
    --aero-blue: #c1f7dcff;
    --caribbean-green: #1dd3b0ff;
    --midnight-green-eagle-green: #114b5fff;
    --manatee: #8f91a2ff;
    --wild-blue-yonder: #94b0daff;
    --blue-bell: #ada7c9ff;
    --pearly-purple: #aa6da3ff;
    --purple-munsell: #b118c8ff; */

    /* --fiery-rose: #f45b69ff;
    --light-goldenrod-yellow: #f7ffd6ff;
    --aero-blue: #c1f7dcff;
    --caribbean-green: #1dd3b0ff;
    --maximum-blue-purple: #aeadf0ff;
    --gold-fusion: #756d54ff;
    --wild-blue-yonder: #94b0daff;
    --pink-lace: #ffd5ffff;
    --purple-plum: #944bbbff;
    --cornflower-blue: #7b8cdeff; */
}

* {
    box-sizing: border-box;
}


html { 
    background-color: var(--color-2);
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 1.5em;
    padding-top: 0;
}

h3 {
    font-size: 1.5em;
    text-align: center;
}

h4 {
    font-family: 'Tangerine', cursive;
    font-size: 1.5em;
    margin: 0.2em 0;
}

p {
    margin: 0;
}

a {
    color: var(--color-1);
    text-decoration: none;
    border-bottom: 1px solid var(--color-1);
    padding-bottom: 0.5px;
    background-color: #f7ffd6;
}

a:hover {
    background-color: #FFD5FF;
}

strong {
    color: #f45b69;
    font-weight: 500;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/deskplantbg.jpg");
    height: 100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 1em;
}
  
/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-2);
}

.hero-text h1 {
    font-size: 3em;
    margin-top: 0;
}

.hero-text p {
    font-family: 'Tangerine', cursive;
    font-size: 1.4em;
}

.greencolor {
    color: var(--color-3);
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
    width: 100%;
}

.topnav {
    overflow: hidden;
    width: 100%;
    /* background: linear-gradient(45deg, #c1f7dcff, #1dd3b0ff, #94b0daff); */
    background-color: #261C15;
    margin-top: -3em;
}
  
.topnav a {
    float: right;
    color: var(--color-2);
    text-align: center;
    padding: 0.7em 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.85em;
    background-color: transparent;
    border-bottom: 0px;
}

.topnav a:hover {
    font-weight: bold;
    letter-spacing: 0.05em;
}

.hero-image .topnav {
    background: transparent;
    margin-top: 0;
}

.hero-image .topnav a {
    background: transparent;
    color: var(--color-2);
}
  
.hero-image .topnav a:hover {
    color: var(--color-3);
    font-weight: bold;
    letter-spacing: 0.05em;
    background: transparent;
}

.left {
    float: left;
}

.timeline h3 {
    font-size: 1.5em;
    margin: 0.8em 0 0.5em;
}

/* scroll to top */
#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px;
    right: 30px;
    z-index: 99; /* Make sure it does not overlap */
    border: none;
    outline: none;
    background-color: #FFD5FF;
    color: var(--color-2);
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 24px;
}
  
#topBtn:hover {
    background-color: #f45b69;
}
